<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MM/dd/yy HH:mm:ss.SSS} [%thread{20}] %-5level %logger{36} -%X{uid}%X{pushToken} %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="us.pojo" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  
</configuration>